*{
	font-family: 'Slabo', serif;
}
body{
	margin: 0px;
}


/*HEADER================*/
header{
	background-color: white;
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
}
#logo{
	margin-top: 10px;
	float: left;
}
header nav{
	float: right;
}
header nav li{
	display: inline-block ;
	padding: 15px;
	text-decoration: none;
	color: black;
}
header nav li:hover{
	background-color: rgba(0,0,0,0.2);	
}



/*ARTICLE====================*/
section{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: white;
	padding: 25px;
}
section h1{
	text-align: center;
}
#article-list article a{
	text-decoration: none;
}

/*FOOTER========================*/

footer h5{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: black;
	color: white;
	padding: 15px;
	font-size: 18px;
	text-align: center;
}
